# {{ ansible_managed }}

server {
        listen   80 default_server;

        root {{ app.web }};
        index index.php index.html index.htm;

        autoindex {{ server.nginx.vhost.autoindex }};
        client_max_body_size {{ server.nginx.vhost.client_max_body_size }};

        location / {
             try_files $uri $uri/ /index.php$is_args$args;
        }

        # pass the PHP scripts to FastCGI server listening on /var/run/php5-fpm.sock
        location ~ \.php$ {
                try_files $uri /index.php =404;
                fastcgi_pass {{ server.nginx.vhost.fastcgi_pass }};
                fastcgi_buffers {{ server.nginx.vhost.fastcgi_buffers }};
                fastcgi_buffer_size {{ server.nginx.vhost.fastcgi_buffer_size }};
                fastcgi_connect_timeout {{ server.nginx.vhost.fastcgi_connect_timeout }};
                fastcgi_send_timeout {{ server.nginx.vhost.fastcgi_send_timeout }};
                fastcgi_read_timeout {{ server.nginx.vhost.fastcgi_read_timeout }};
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}

server {
        listen   443 ssl;

        root {{ app.web }};
        index index.php index.html index.htm;

        autoindex {{ server.nginx.vhost.autoindex }};
        client_max_body_size {{ server.nginx.vhost.client_max_body_size }};

        ssl on;
        ssl_certificate    /etc/ssl/{{ server.ssl.cert }} ;
        ssl_certificate_key    /etc/ssl/{{ server.ssl.key }} ;

        location / {
             try_files $uri $uri/ /index.php$is_args$args;
        }

        # pass the PHP scripts to FastCGI server listening on /var/run/php5-fpm.sock
        location ~ \.php$ {
                try_files $uri /index.php =404;
                fastcgi_pass {{ server.nginx.vhost.fastcgi_pass }};
                fastcgi_buffers {{ server.nginx.vhost.fastcgi_buffers }};
                fastcgi_buffer_size {{ server.nginx.vhost.fastcgi_buffer_size }};
                fastcgi_connect_timeout {{ server.nginx.vhost.fastcgi_connect_timeout }};
                fastcgi_send_timeout {{ server.nginx.vhost.fastcgi_send_timeout }};
                fastcgi_read_timeout {{ server.nginx.vhost.fastcgi_read_timeout }};
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}
